.bd-footer {
    background-color: #141414;
    color: rgb(255, 255, 255);
}

.bd-footer img{
    height:8vh;

}
.nav-link {
   color: rgb(165, 165, 165);

}
.card {
padding: 0px;
overflow: hidden;
position: relative;
border-color:transparent;
display: flex;
justify-content: center;
}

.card img {
    border-radius: 50%;
    height:33vh;
    width: 33vh;
}

.row {
    margin-left: 40px;
}

.d-block {
    height: 55vh;
    width: 100vh;
}

.jumbotron{
    background-image: url(img/Conteudo/Login/bg.jpg);
    background-size: cover;
    color: white;
}

main {
    background: url(img/Conteudo/Home/bg-show2.webp) center center no-repeat fixed;
    background-size:cover;
}

#destaques {
    height: 500px;
}

main {
    height: 5000px;
}